<%= form_for @testcase, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %>Test Case</legend>
<div class="row-fluid">
<div class="span3"></div>
<div class="span6">
    <div class="control-group">
      <%= f.label :purpose, :class => 'control-label' %>
      <div class="controls docs-input-sizes">
        <%= f.text_field :purpose, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :steps, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :steps, :class => 'text_area' %>
      </div>
    </div>

     <div class="control-group">
      <p class="help-block">A script may contain a variable for a domain name, an email address, or an email formatted as a domain name.
            If the script requires a DNS formatted email address, please use "~dnsemail". 
            If the script requires just the domain name, use "~domain". If the script requires the 
            full email address, use "~email". Example script for a domain name: "dig ~domain". 
            Further, if you would like to use the data returned in the previous command line
            response, use "~last_response". </p>
            <p class="control-group">For the Expected Response, enter a string that 
        the command line response must contain to make the script pass.</p>
      <%= f.fields_for :scripts do |builder| %>
      <%= render 'script_fields', :f => builder %>
      <% end %>
      </div>

    <div class="control-group">
      <%= f.label :TcId, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :TcId, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', testcases_path, :class => 'btn' %>
    </div>
    </div>
<div class="span3"></div>
</div>
  </fieldset>
<% end %>
