<p id="notice"><%= notice %></p>

<p>
  <b>Purpose:</b>
  <%= @testcase.purpose %>
</p>

<p>
  <b>Steps:</b>
  <%= @testcase.steps %>
</p>

<p>
  <b>Tcid:</b>
  <%= @testcase.TcId %>
</p>

<p>
  <b>Script(s):</b>
  <ol>
    <% for script in @testcase.scripts %>
    <li><%=h script.script %>
        <ul>
        <li><%= script.expectedResult %></li>
        </ul>
    </li>
    <% end %>
</ol>
</p>


<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
