<%= form_for @test, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %>Test</legend>

    <div class="control-group">
      <%= f.label :purpose, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :purpose, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :steps, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :steps, :class => 'text_area' %>
      </div>
    </div>

<div class="control-group">
      <%= f.label :script, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :script, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :TcId, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :TcId, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tests_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
