<h1>Tests</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Purpose</th>
      <th>Steps</th>
      <th>Script</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= link_to test.purpose, test_path(test) %></td>
        <td><%= test.steps %></td>
        <td><%= test.script %></td>
        <td>
          <%= link_to 'Edit', edit_test_path(test), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', test_path(test), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_test_path, :class => 'btn btn-primary' %>
