<p id="notice"><%= notice %></p>

<p>
  <b>Purpose:</b>
  <%= @test.purpose %>
</p>

<p>
  <b>Steps:</b>
  <%= @test.steps %>
</p>

<p>
  <b>Tcid:</b>
  <%= @test.TcId %>
</p>

<p>
  <b>Script:</b>
  <%= @test.script %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
